<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p> 
      <%= "Voici le page du potin n°#{params["id"]}" %><br/>
      <%= "Son auter : #{gossip_x[0]}" %><br/>
      <%= "Le contenu du potin : #{gossip_x[1]}" %>
    </p>

  </body>
</html>